<div class="top">
<h1 class="app_name">ShimaBoard</h1>
<p class="app_description">sinatra簡易掲示板!!<br>ログインすると、投稿できたり、mypageを持つことができるよ。<br>mypageでは自分の投稿の一覧がみれるよ。</p>
<ul>
    <li>新規登録</li>
    <li>ログイン</li>
    <li>text,imageの投稿</li>
    <li>投稿の編集</li>
</ul>

<a class="waves-effect waves-light btn #4caf50 green" onclick="location.href='/timeline'">とりあえず見てみる！</a>
</div>