<div class="container">
<h1>ログイン</h1>

<div class="row">
<form action="/login" method="post">
    <div class="input-field col s6">
      <input id="first_name2" type="text" class="validate" name="name" required>
      <label class="active" for="first_name2">Name</label>
    </div>

    <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" class="validate" name="password" required>
          <label for="password">Password</label>
        </div>
    </div>

      <div class="submit">
      <button class="btn waves-effect waves-light #4caf50 green" type="submit" name="action">Submit
      <i class="material-icons right">send</i>
       </button>
    </div>
</form>
  </div>
</div>