<div class="container">

<h1>新規登録</h1>

<div class="row">
  <form class="col s12" action="/register" method="post">

    <div class="row">
      <div class="input-field col s12">
        <input name="name" id="name" type="text" class="validate" required>
        <label for="name">Name</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <input name="password" id="password" type="password" class="validate" required>
        <label for="password">Password</label>
      </div>
    </div>

    <button class="btn waves-effect waves-light #4caf50 green" type="submit" >Submit
      <i class="material-icons right">send</i>
    </button>

  </form>

</div>
<!--  <a class="waves-effect waves-light btn" href="/login"><i class="material-icons right">cloud</i>ログイン</a>-->

</div>
