.container {
    margin: auto;
    padding: 100px;
}
.articles {
    margin: auto;
    padding: 100px;
    text-align: center;
}
.image {
    width: 50%;
    height: 50%;
}
.submit {
    text-align: center;
    margin-top: 50px;
}
.form_wrapper {
    margin: 50px 0;
}

.top { 
    margin: auto;
    padding: 100px;
    text-align: center;
}
.post_btn {
    position: fixed;
    top:80vh;
    right: 5vw;
}
.post_wrapper {
    margin: 10vh 10vw ;
    padding: 10px;
    border: solid 1px black;
}